:root {
  --primary-color: #357b70;
  --visited-color: #05676e;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --FW: 700; /* font-weight* /
}
body {
background-color:white;
}
body {
font-family: 'Lato', sans-serif;
font-weight: 400;
font-size: 16px;
/* Sets the font size to 16px */

line-height: 1.6;

/* Sets the line-height to 1.6 */
}
h1 {
  font-size: 30px;
  font-weight: var(--FW);
  color: green;
}
h2 {
  font-size: 24px;
  font-weight: var(--FW);
}

h3 {
  font-size: 18px;
  font-weight: var(--FW);
}
#title {
  color: yellow;
  font-size: --FW;
  font-style: italic;
  font-weight: bold;
}
#height {
  font-size: 12px;
  color:red;
}
.page-header{
  display: flex;
  width: 100%;
  padding: 10px;
  margin-left: 15px;
}
.pokedesk {
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  padding: 15px 10px;
}
.pokemon-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
}
.pokemon-list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
  background-color: ;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pokemon-list__item {
  max-width: 60%
}
@media all and (max-width: 450px) {
  h1 {
    font-size: 22px;
  }
  .pokemon-list__item {
    max-width: 60%
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .pokemon-list__item {
    max-width: 60%
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
